<div class="logo-box">
  <img src="./assets/images/logo_sem_fundo.png" alt="Finance & Stock">
</div>
<div class="box">
    <div id="box-form">
        <div id="box-form-header">
            <h2>Seja bem-vindo!</h2>
            <h4>Ainda não tem uma conta?
                <a href="/register">Cadastre-se</a>
            </h4>
        </div>
        <div id="box-form-inputs">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <a href="/forgot-password" id="button-id">Esqueci a senha</a>
            <button type="submit">Login</button>
        </div>
    </div>
</div>
