<header class="header">
  <a href="" class="logo"></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <span class="navicon"></span>
  </label>
  <ul class="menu">
    <li *ngIf="user.authStatus!='AUTH'" routerLinkActive="active"><a routerLink="/about">About</a></li>
    <li *ngIf="user.authStatus!='AUTH'" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    <li *ngIf="user.authStatus!='AUTH'" routerLinkActive="active"><a routerLink="/register">Register</a></li>
    <li *ngIf="user.authStatus!='AUTH'" routerLinkActive="active"><a routerLink="/login">Login</a></li>

    <li *ngIf="user.authStatus=='AUTH'" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
    <li *ngIf="user.authStatus=='AUTH'" routerLinkActive="active"><a routerLink="/finance">Finance</a></li>
    <li *ngIf="user.authStatus=='AUTH'" routerLinkActive="active"><a routerLink="/stock">Stock</a></li>
    <li *ngIf="user.authStatus=='AUTH'" routerLinkActive="active"><a routerLink="/config">Settings</a></li>
    <li *ngIf="user.authStatus=='AUTH'" routerLinkActive="active"><a routerLink="/logout">Logout</a></li>
    <li>
      <label class="switch">
        <input type="checkbox" (change)="toggleTheme($any($event.target).checked)" [checked]="selectedTheme === 'dark'">
        <span class="slider round"></span>
      </label>
    </li>
  </ul>
</header>
<router-outlet></router-outlet>
